@use './variables' as *;

.site-main {
    padding: 7rem 0 3rem 0;
}

.product-description {
    list-style: none;
}

.discount-price {
    color: $discount_color;
}

.old-price {
    text-decoration: line-through;
}

.hover-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}